<div>
  <ul class="navbar-list">
    <li></li>
    <li><a href="index.html">Home</a></li>
    <li><a href="basic-warmups.html">Basic Warm Ups</a></li>
    <li><a href="advanced-warmups.html">Advanced Warm Ups</a></li>
    <li><a href="even-more-warmups.html">Even More Warm Ups</a></li>
    <li><a href="some-more-warmups.html">Some More Warm Ups</a></li>
    <li><a href="enough-warmups.html">Enough With the Warm Ups Already</a></li>
    <li><a href="kidding-me-warmups.html">Are You Kidding Me? Warm Ups</a></li>
    <li><a href="what-more-warmups.html">What?? More Warm Ups</a></li>
    <li><a href="what-more-warmups.html">Come On! More Warm Ups</a></li>
    <li><a href="what-more-warmups.html">Not Another Warm Up!</a></li>
    <li><a href="what-more-warmups.html">Really? Warm Ups Again?</a></li>
    <li><a href="what-more-warmups.html">Dom's Solo Licks</a></li>
  </ul>
</div>