* {
	box-sizing: border-box;
}

body.landing {
	background-color: #37354c;
/*
	background-image: url(../assets/images/Blue-textured-background.png);
	background-size: cover;
	background-repeat: no-repeat;
*/
}

body {
    font-family: 'Times New Roman';
    color: #dcd09e;
    min-height: 100%;
	margin: 0;
	padding: 0;
}

.hero-content {
    background-image: url(../assets/images/cover-img.png);
	position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
/*	padding-top: 80px;*/
/*	padding-bottom: 80px;*/
	margin: 0px;
}

h1 {
	font-size: 5rem;
	letter-spacing: 15px;
	text-align: right;
	padding-right: 8%;
	padding-top: 10px;
	font-weight: 500;
	text-shadow: 5px 5px 10px #000000;
	margin: 0px;
}

h2 {
	font-size: 5rem;
	font-style: italic;
	letter-spacing: 15px;
	text-align: right;
	padding-right: 8%;
	padding-top: 0px;
	margin: 0px;
	padding-bottom: 10%;
	font-weight: 500;
	text-shadow: 5px 5px 10px #000000;
}

.navbar {
	font-size: 1.3rem;
	text-decoration: none;
	letter-spacing: 1px;
	border-right: 5px solid #dcd09e;
	width: 30%;
	height: 100%;
	float: left;
	text-align: left;
	position: relative;
	overflow: auto;
	background-color: #47455c;
	display: inline-block;
}

.opening-video {
	display: inline-block;
	width: 70%;
/*	height: 300px;*/
	float: right;
	padding-top: 100px;
	border: none;
}

h3 {
	display: block;
    clear: both;
}

.legend-title {
    width: 70%;
    float: right;
    text-align: center;
    font-size: 1.8rem;
}

.legend {
	display: inline-block;
	width: 70%;
	padding-left: 80px;
	padding-right: 80px;
    padding-bottom: 40px;
	margin: auto auto;
	float: right;
/*	padding: 100px 0px;*/
	border: none;
    clear: both;
}

.opening-video iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

td {
	text-align: center;
	vertical-align: center;
	border-bottom: 2px solid #dcd09e;
	height: 50px;
}

table a {
    display: block;
}

a:link {
	color: #dcd09e;
	text-decoration: none;
}

a:hover {
	background-color: #47455c;
}

a:visited {
	color: #dcd09e;
	text-decoration: none;
}


table.navbar-list {
	width: 100%;
}
