* {
	box-sizing: border-box;
}

body.landing {
    background-color: white;
}

body {
    font-family: "Verdana";
    color: #dcd09e;
    min-height: 100%;
	margin: 0;
	padding: 0;
}

.flex {
	display: flex;
	flex-direction: row;
}

.flex-vertical {
	flex-direction: column;
}

.flex-hero {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-end;
}

.hero-content {
	width: 100%;
	max-height: 400px;
    background-image: url(../assets/images/cover-img.png);
	position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
	margin: 0px;
/*	padding-left: 500px;*/
}

#name {
	display: block;
	font-size: 5rem;
	letter-spacing: 15px;
	padding-right: 8%;
	padding-top: 10px;
	font-weight: 600;
	text-shadow: 5px 5px 10px #000000;
	margin: 0px;
}

#title {
	display: block;
	font-size: 5rem;
	font-style: italic;
	letter-spacing: 15px;
/*	text-align: right;*/
	padding-right: 8%;
	padding-top: 0px;
	margin: 0px;
	padding-bottom: 10%;
	font-weight: 300;
	text-shadow: 5px 5px 10px #000000;
}

.navbar-list {
	list-style: none;
	font-size: 1.0rem;
	text-decoration: none;
	border-right: 5px solid #dcd09e;
	height: 100%;
	width: 300px;
	position: relative;
	overflow: auto;
	background-color: #56876d;
	margin: 0;
	padding: 0px 10px;
}

.navbar-list li {
    color: white;
	text-align: left;
	border-bottom: 2px solid #dcd09e;
	height: 70px;
	font-size: 1.0rem;
    font-weight: 300;
    padding: auto auto 0 0;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.opening-video {
	padding-top: 10px;
	border: none;
}

.legend-title {
    color: #04724d;
	padding-top: 100px;
	padding-bottom: 20px;
	font-weight: 600;
    text-align: center;
    font-size: 2.0rem;
	margin: 0;
}

.legend {
	display: inline-block;
	max-width: 100%;
	padding-left: 80px;
	padding-right: 80px;
    padding-bottom: 300px;
	margin: auto auto;

}

.opening-video iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a, a:hover, a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
